<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sfarmani.ucsctutor" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginSignupActivity"
            android:label="Login" >
        </activity>
        <activity
            android:name=".TutorSignUp"
            android:label="tutor sign up"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".StudentSignUp"
            android:label="student sign up"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".FragmentPagerSupport"
            android:label="Fragment Pager Support"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="Set Schedule"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <service
            android:name=".SinchService" >
        </service>

        <activity
            android:name=".MessagingActivity"
            android:label="Messaging"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search_users"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
        <activity
            android:name=".VenmoWebViewActivity"
            android:label="Venmo"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        </activity>
    </application>

</manifest>
